<a href="mailto:{{ email }}?subject=RE:%20Your%20Obnoxious%20Comment" class="name">{{ name }}</a>
{{!-- <p class="dateCreated">{{ createDate }}</p> --}}
<p class="comment">{{ commentString }}</p>
<div class="votes">
    {{ upvotes }}
    <i class="fa fa-caret-up upvote"></i>
    |
    {{ downvotes }}
    <i class="fa fa-caret-down downvote"></i>
</div>
